.header{
    background-color: brown;
    height: 200px;
}
.nama{
    padding-left: 80px;
    padding-top: 70px;
}
.image{
    
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 30px;
    background-position: center;
}
.footer{
    background-color: chocolate;
    height: 400px;
    text-align: justify;
}