body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.header{
    background-image: url(../img/main-bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.navigasi{
    width: 100%;
    height: 40px;
    background-color:black;
    opacity: 0.85;
    padding-left: 90px;
    padding-top: 20px;
    color: #FFF;
    font-weight: bold;
    font-family: 'redressed', sans-serif;
    display: flex;
    position: fixed;
}
.menu{
    margin-left: 160px;
    color: #FFF;
    text-decoration: #FFF;
    right: 0;
    overflow: hidden;
    float: right;

}
.right-menu{
    margin-left: 300px;
    color: #FFF;
}

a{
    margin-left: 35px;
    text-decoration: none;
    color: #FFF;
}

.jumbotron{
    margin-bottom: -5px;
    background-image: url(../img/main-bg.jpg);
    margin-top: -5px;
    margin-left: -5%;
    margin-right: -5px;
    color: cyan;
}

.container{
    margin-top: 3px;
    max-width: 98%;
}

body{
    background-color:whitesmoke;
}

p{
    text-align: justify;
    margin-top: 15px;
    margin-right: 55px;
    margin-bottom: 10px;
}

pre{
    text-align: center;
    color: white;
}

.foto{
    background-image: url(../img/my.jpeg);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-top: 8px;
    margin-left: -15px;
}

.berita1{
    background-image: url(../img/berita1.jpeg);
    width: 800px;
    height: 400px;
    background-repeat: no-repeat;
}

.berita2{
    background-image: url(../img/berita2.jpeg);
    width: 800px;
    height: 400px;
    background-repeat: no-repeat;
}

