<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Nih</title>
</head>
<body>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a>
</body>
</html>