<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <label for="username">Username : </label>
        <input type="text" id="username" name="username" placeholder="Username"><br>

        <label for="password">Password : </label>
        <input type="password" id="password" name="password" placeholder="password"><br>

        <button type="submit">Register</button>
    </form>

    <a href="/login">Login</a>
</body>
</html>