<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/article">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"/>
        <br>
        <label for="body">Body</label>
        <br>
        <input type="text" name="body"/>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>