<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% articles.forEach(i => { %>
        <h1><%= i.title %></h1>
        <p><%= i.body %></p>
        <a href="/article/<%= i.id %>">Baca lebih lanjut!</a>
    <% }) %>
</body>
</html>